<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
                <!-- replace the # with the image file name -->
                <img class="logo" src="/images/logo.png" alt="📷">
            <div class="links"> 
                <a href="/home" class="haal">Home</a>
                <a href="/about" class="haal">About</a>
                <a href="/alumni" class="haal">Alumni</a>
                <!-- since branch is a dropdown, we can just use the dropdown class -->
                <div class="dropdown">
                    <button class="dropdown-button">Branches</button>
                    <div class="dropdown-content">
                        <a href="/civil">Civil</a>
                        <a href="/mech">Mech</a>
                        <a href="/cse">CSE</a>
                    </div>
                </div>

            </div>
    </header>