<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css"><!-- optional -->
</head>
<body>
 <%- include('partials/_topbar') %>

  <h1>ENG ATAN NGE CTEA LEAK EN I TUM</h1>
  <form action="/anime-post" method="POST">
    <label for="name">Anime Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="type">Type (e.g., Shonen, Seinen):</label><br>
    <input type="text" id="type" name="type" required><br><br>

    <label for="protegonese">Protagonist:</label><br>
    <input type="text" id="protegonese" name="protegonese"><br><br>

    <label for="villian">Villain:</label><br>
    <input type="text" id="villian" name="villian"><br><br>

    <button type="submit">Submit Anime</button>
  </form>
    <%- include('partials/footer') %>
</body>
</html>
