.wrapper-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    .main-title {
        font-family:'Times New Roman', Times, serif;
        font-weight: 800px;
        font-size: xx-large;
        /*background-color: rgb(56, 9, 9);
        border-radius: 10px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;*/
        margin-bottom: 40px;
        margin-top: 60px;
        flex-shrink: 0;
        color: rgb(58, 4, 4);
    }

/* 👆anything above this remains same whatsoever 👆 */


/* for small smartphones */
@media (min-width:320px) {
    .wrapper-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .photos {
            margin: 5px;
            border: 2px solid black;
            border-radius: 30px;
            padding: 5px;
            flex-wrap: wrap;
            max-width: 70%;
            width: 95%;
            height: auto;
            flex-grow: 1;
        }

        .content {
            margin: 5px;
            padding-left: 5px;
            padding-right: 5px;
            flex-wrap: wrap;
            color: rgb(0, 0, 0);
        }
}

/* for larger tablets and desktops.  */
/* @media (min-width:1025px) {
    .wrapper-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

        .photos {
            margin: 5px;
            border: 2px solid black;
            border-radius: 30px;
            padding: 5px;
            flex-wrap: wrap;
            max-width: 50%;
            width: 100%;
            height: auto;
            flex-grow: 1;
        }

        .content {
            margin: 5px;
            padding-left: 5px;
            padding-right: 5px;
            flex-wrap: wrap;
        }

        p {
            font-size: large;
        }
} */





        



